{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Создай свой таск, что бы не забыть</h1>
            <p>Хорошо, когда нет дел, но жить без дела, не жить никогда. Поэтому <u>УЗРИ</u> ТаскМейкер. <b><i>ТаскМейкер</i></b>  для того, что бы не забыть и не подводить людей, запиши и радуйся</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Старт</a>
        </div>
    </div>

{% endblock %}
